@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Article>
@using ContentModels = Umbraco.Web.PublishedModels;
@using ClientDependency.Core.Mvc

@{
    Layout = "Master.cshtml";
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJs("https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js");
    Html.RequiresJs("/scripts/jquery.validate.min.js");
    Html.RequiresJs("/scripts/jquery.validate.unobtrusive.min.js");
    Html.RequiresJs("/scripts/jquery.unobtrusive-ajax.min.js");
    Html.RequiresJs("/scripts/Contact.js");

}

@Html.Partial("~/Views/Partials/PageHeader.cshtml")

<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                @Html.GetGridHtml(Model, "mainContent")
            </div>
        </div>
        <div>
            <div class="col-md-12">
                @Model.Value("twoSide")
            </div>
        </div>
    </div>
</article>
@{ Html.RenderAction("RenderForm", "ContactSurface");}
